
#Visual Studio
/projects/visualstudio/*.VC.db
/projects/visualstudio/*.opendb
/projects/visualstudio/*.sdf
/projects/visualstudio/.vs
/projects/visualstudio/build
/projects/visualstudio/bin
/projects/visualstudio/test/*.VC.db
/projects/visualstudio/test/*.opendb
/projects/visualstudio/test/*.sdf
/projects/visualstudio/test/.vs
/projects/visualstudio/test/build
/projects/visualstudio/test/bin

#Xcode
.DS_Store
/projects/xcode*/*.xcodeproj/*.xcworkspace
/projects/xcode*/*.xcodeproj/xcuserdata
/projects/xcode*/*.xcworkspace/xcshareddata
/projects/xcode*/*.xcworkspace/xcuserdata
/projects/xcode*/Build
/projects/xcode*/DerivedData
/projects/xcode*/test/*.xcodeproj/*.xcworkspace
/projects/xcode*/test/*.xcodeproj/xcuserdata
/projects/xcode*/test/*.xcworkspace/xcshareddata
/projects/xcode*/test/*.xcworkspace/xcuserdata
/projects/xcode*/test/Build
/projects/xcode*/test/DerivedData

#Code::Blocks
/projects/codeblocks/*.layout
/projects/codeblocks/*.depend
/projects/codeblocks/obj
/projects/codeblocks/bin
/projects/codeblocks/test/*.layout
/projects/codeblocks/test/*.depend
/projects/codeblocks/test/obj
/projects/codeblocks/test/bin

