<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>name</key>
		<string>jump2</string>
		<key>orientation</key>
		<string>LEFT</string>
		<key>fps</key>
		<real>40</real>
		<key>files</key>
		<array>
			<dict>
				<key>filename</key>
				<string>jump2.png</string>
				<key>rows</key>
				<integer>20</integer>
				<key>columns</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>framedata</key>
		<array>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>19.5</real>
						<key>y</key>
						<real>18</real>
						<key>radius</key>
						<real>5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>30</real>
						<key>y</key>
						<real>28.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-135</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>12</real>
						<key>y</key>
						<real>16</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>45</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>14</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25.5</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>19</real>
						<key>y</key>
						<real>14</real>
						<key>radius</key>
						<real>4</real>
						<key>rotation</key>
						<real>45</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>12.5</real>
						<key>y</key>
						<real>17</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>45</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>17</real>
						<key>y</key>
						<real>15.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>45</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>19.5</real>
						<key>y</key>
						<real>16.5</real>
						<key>radius</key>
						<real>4</real>
						<key>rotation</key>
						<real>45</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>16.5</real>
						<key>y</key>
						<real>20</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>45</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>12</real>
						<key>y</key>
						<real>19</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>30</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>20.5</real>
						<key>y</key>
						<real>17</real>
						<key>radius</key>
						<real>4</real>
						<key>rotation</key>
						<real>35</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>25.5</real>
						<key>y</key>
						<real>19</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>34</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>13.5</real>
						<key>y</key>
						<real>24</real>
						<key>radius</key>
						<real>2.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>x</key>
						<real>18</real>
						<key>y</key>
						<real>17.5</real>
						<key>radius</key>
						<real>4</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>x</key>
						<real>24.5</real>
						<key>y</key>
						<real>19</real>
						<key>radius</key>
						<real>2.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>x</key>
						<real>11.5</real>
						<key>y</key>
						<real>24</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-19</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>17</real>
						<key>y</key>
						<real>20.5</real>
						<key>radius</key>
						<real>4</real>
						<key>rotation</key>
						<real>-66</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>26.5</real>
						<key>y</key>
						<real>18</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-45</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>18.5</real>
						<key>y</key>
						<real>23</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-45</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>15</real>
						<key>y</key>
						<real>24.5</real>
						<key>radius</key>
						<real>4.5</real>
						<key>rotation</key>
						<real>-90</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>20.5</real>
						<key>y</key>
						<real>18.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-90</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>21.5</real>
						<key>y</key>
						<real>17</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-90</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>17</real>
						<key>y</key>
						<real>21.5</real>
						<key>radius</key>
						<real>4</real>
						<key>rotation</key>
						<real>-90</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>18.5</real>
						<key>y</key>
						<real>21.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-105</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>22.5</real>
						<key>y</key>
						<real>14</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-90</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>24</real>
						<key>radius</key>
						<real>4.5</real>
						<key>rotation</key>
						<real>-90</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>18.5</real>
						<key>y</key>
						<real>27.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-105</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>18.5</real>
						<key>y</key>
						<real>20.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-70</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>15</real>
						<key>y</key>
						<real>24</real>
						<key>radius</key>
						<real>4.5</real>
						<key>rotation</key>
						<real>-56</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>16.5</real>
						<key>y</key>
						<real>29</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-90</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>18</real>
						<key>y</key>
						<real>22</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-90</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>16.5</real>
						<key>y</key>
						<real>23.5</real>
						<key>radius</key>
						<real>4.5</real>
						<key>rotation</key>
						<real>-56</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>21.5</real>
						<key>y</key>
						<real>26</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-90</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>19.5</real>
						<key>y</key>
						<real>25</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-90</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>x</key>
						<real>18</real>
						<key>y</key>
						<real>30.5</real>
						<key>radius</key>
						<real>4</real>
						<key>rotation</key>
						<real>-180</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>16</real>
						<key>y</key>
						<real>23.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-150</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>20</real>
						<key>y</key>
						<real>25.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-150</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>21.5</real>
						<key>y</key>
						<real>31</real>
						<key>radius</key>
						<real>4.5</real>
						<key>rotation</key>
						<real>125</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>27.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>180</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>30</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>166</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>23</real>
						<key>y</key>
						<real>30</real>
						<key>radius</key>
						<real>4</real>
						<key>rotation</key>
						<real>135</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>22</real>
						<key>y</key>
						<real>25.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>180</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>16</real>
						<key>y</key>
						<real>27</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>158</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>27.5</real>
						<key>y</key>
						<real>29.5</real>
						<key>radius</key>
						<real>4.5</real>
						<key>rotation</key>
						<real>134</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>26</real>
						<key>y</key>
						<real>24</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>135</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>23</real>
						<key>y</key>
						<real>22</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>136</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>28</real>
						<key>y</key>
						<real>25</real>
						<key>radius</key>
						<real>4</real>
						<key>rotation</key>
						<real>50</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>26</real>
						<key>y</key>
						<real>28.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>90</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>23.5</real>
						<key>y</key>
						<real>28</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>90</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>26.5</real>
						<key>y</key>
						<real>23</real>
						<key>radius</key>
						<real>4.5</real>
						<key>rotation</key>
						<real>40</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>26</real>
						<key>y</key>
						<real>28.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>45</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>23</real>
						<key>y</key>
						<real>30</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>45</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>21.5</real>
						<key>y</key>
						<real>16.5</real>
						<key>radius</key>
						<real>4</real>
						<key>rotation</key>
						<real>20</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>13</real>
						<key>y</key>
						<real>19</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>29</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>26.5</real>
						<key>y</key>
						<real>23</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>24</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>20</real>
						<key>y</key>
						<real>18.5</real>
						<key>radius</key>
						<real>5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>17.5</real>
						<key>y</key>
						<real>26</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-45</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>RIGHT</string>
						<key>x</key>
						<real>25.5</real>
						<key>y</key>
						<real>23.5</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-35</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
			<dict>
				<key>metapoints</key>
				<array>
					<dict>
						<key>type</key>
						<string>HEAD</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>20</real>
						<key>y</key>
						<real>18.5</real>
						<key>radius</key>
						<real>5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>LEFT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>24.5</real>
						<key>y</key>
						<real>28</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-97</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>RIGHT_HAND</string>
						<key>orientation</key>
						<string>LEFT</string>
						<key>x</key>
						<real>21</real>
						<key>y</key>
						<real>27</real>
						<key>radius</key>
						<real>2.5</real>
						<key>rotation</key>
						<real>-100</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<true />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_TOPLEFT</string>
						<key>x</key>
						<real>14.5</real>
						<key>y</key>
						<real>12.5</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
					<dict>
						<key>type</key>
						<string>BOUNDS_BOTTOMRIGHT</string>
						<key>x</key>
						<real>25</real>
						<key>y</key>
						<real>38</real>
						<key>visible</key>
						<true />
						<key>behind</key>
						<false />
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</plist>
