<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>sword</string>
	<key>fps</key>
	<real>1</real>
	<key>files</key>
	<array>
		<dict>
			<key>filename</key>
			<string>sword.png</string>
		</dict>
	</array>
	<key>framedata</key>
	<array>
		<dict>
			<!-- FRAME 0 -->
			<key>metapoints</key>
			<array>
				<dict>
					<key>type</key>
					<string>HANDLE</string>
					<key>orientation</key>
					<string>LEFT</string>
					<key>x</key>
					<real>3</real>
					<key>y</key>
					<real>41</real>
					<key>radius</key>
					<real>5</real>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
